-e .
decorator==5.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.5
pillow==10.4.0
proglog==0.1.12
python-dotenv==1.1.0
tqdm==4.67.1
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pytest==8.3.5
